# Rust
/rust-wasm/fib_wasm
*.rs.bk

# Ignore Rust build artifacts in specific folders, not globally

# For example, only ignore .wasm in target folder
/target/
/fib_wasm/pkg/*.wasm
/fib_wasm/pkg/*.js
/fib_wasm/pkg/*.ts
/fib_wasm/pkg/*.d.ts


# Node
/node_modules

# Next.js
.next/
out/

# OS and editor
.DS_Store
.idea/
.vscode/
